/* Universal */

html {
	width: 100%;
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
	background-color: #FFF;
}

body {
	background-color: #FFE5C4;
	width: 80%;
	margin: 0 auto 0 auto;
	height: 100%;
	display: flex;
	align-content: : center;
	flex-flow: column nowrap;
	border: 1px solid #9E825A;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

img {
	border: 1px solid #9E825A;
}


/* Header */

header {
	background-color: #4A809E;
}

.navbar {
	flex-flow: column nowrap;
	display: flex;
}

.nav {
	display: flex;
	flex-flow: row nowrap;
}

.nav li {
	margin: 1em;
}

.nav li a {
	color: #FFF;
	text-decoration: none;
}

.nav li a:hover {
	text-decoration: underline;
}

#logo {
	margin: 1em;
}

#logo h1 {
	color: #EBCAA0;
}

#logo h1 span {
	color: #FFE5C4;
}

/* Banner */

.banner {
	width: 85%;
	align-self: center;
	align-content: center;
	flex-flow: column nowrap;
}

.page-desc {
	margin: 1em;
}

.page-desc h1 {
	margin: 1em 0 1em 0;
}

.gallery {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 1em;
	align-items: center;
}

.gallery img {
	width: 45%;
	object-fit: cover;
	height: 100%;
}

/* Content (Home) */

#stays {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.holidayDest {
	width: 85%;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	background-color: #9DCEEB;
	margin: 2.5em 0 2.5em 0;
	border-radius: 5px;
}

.photo {
	width: 85%;
	margin: 4em 0 1em 0;
	border-radius: 2.5px;
}

.destInfo {
	width: 85%;
	margin: 1em 0 2.5em 0;
}

.destInfo h2 {
	margin: 0.5em 0 0.5em 0;
}

/* Buttons */

.loadButton {
	width: 85%;
	justify-content: flex-start;
}

.loadButton button {
	background-color: #4A809E;
	padding: 0.5em 1.5em 0.5em 1.5em;
	border-style: none;
	font-size: 16px;
	color: #FFF;
  border-radius: 5px;
}

/* Footer */

footer {
	width: 100%;
	background-color: #4A809E;
	margin-top: 5em;
	height: 75px;
	display: flex;
	justify-content: flex-end;
}

.copyright {
	color: #FFF;
	font-size: 12px;
	margin: 50px 15px 0 0;
}
