/* Universal */

html {
	width: 100%;
	font-size: 20px;
	font-family: 'Assistant', sans-serif;
	font-weight: 400;
	background-color: #FFF;
}

body {
	background-color: #FFE5C4;
	width: 80%;
	margin: 0 auto 0 auto;
	height: 100%;
	display: flex;
	align-content: : center;
	flex-flow: column nowrap;
	border: 1px solid #9E825A;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 28px;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

h4 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0.5em;
}

h5 {
	font-size: 18px;
}

img {
	border: 1px solid #9E825A;
}

a {
	font-size: 20px;
}

/* Header */

header {
	background-color: #4A809E;
	margin-bottom: 4em;
}

.navbar {
	flex-flow: column nowrap;
	display: flex;
}

.nav {
	display: flex;
	flex-flow: row nowrap;
}

.nav li {
	margin: 1em;
}

.nav li a {
	color: #FFF;
	text-decoration: none;
}

.nav li a:hover {
	text-decoration: underline;
}

.nav li a:visited {
	color: #FFF;
}

.logo {
	margin: 1em 1em 0em 1em;
}

.logo h1 {
	font-family: 'Bilbo', cursive;
	color: #EBCAA0;
	font-size: 72px;
	font-weight: bolder;
}

.logo h1 span {
	color: #FFE5C4;
}

#feedbackHeader {
	margin-bottom: 0;
}

/* Banner */

.banner {
	width: 85%;
	align-self: center;
	align-content: center;
	flex-flow: column nowrap;
}

.page-desc h1 {
	margin: 1em 0 1em 0;
}

.gallery {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 2em 0 1em 0;
	align-items: center;
}

.gallery img {
	width: 45%;
	object-fit: cover;
	height: 100%;
}

#feedbackBanner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

#feedbackBanner .page-desc {
	width: 60%;
}

#feedbackBanner .page-desc h1 {
	margin-top: 0;
}

#feedbackBanner .gallery {
	width: 30%;
}

#feedbackBanner .gallery img {
	width: 100%;
}

#contactBanner {
	margin-bottom: 3.75em;
	width: 75%;
}

/* Content (Home) */

.content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.holidayDest {
	width: 85%;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	background-color: #9DCEEB;
	margin: 2.5em 0 2.5em 0;
	border-radius: 5px;
}

.photo {
	width: 85%;
	margin: 4em 0 1em 0;
	border-radius: 2.5px;
}

.destInfo {
	width: 85%;
	margin: 1em 0 2.5em 0;
}

.destInfo h2 {
	margin: 0.5em 0 0.5em 0;
}

.moreInfo {
	display: block;
	color: #9E825A;
	margin-top: 1em;
}

.moreInfo a {
	text-decoration: none;
}

.moreInfo a:hover {
	text-decoration: underline;
}

.moreInfo a:visited {
	color: #9E825A;
}

/* Content (Reviews) */

.item {
	padding: 2em 0 2em 0;
	width: 85%;
	background-color: #9DCEEB;
	margin: 2.5em 0 2.5em 0;
	border-radius: 5px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.rev-photo {
	width: 45%;
	border-radius: 2.5px;
}

.subject-info {
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-bottom: 1em;
	background-color: #4A809E;
	border-radius: 5px;
	padding: 1em 0 1em 0;
}

.info-list {
	width: 45%;
	margin-top: auto;
	color: #FFE5C4;
}

.info-list h2 {
	margin-bottom: 0.5em;
}

.info-list p {
	line-height: 1.5
}

.review {
	width: 90%;
	margin: 1em 0 1em 0;
}

.review h3 {
	margin-bottom: 0.5em;
}

.button-list {
	width: 90%;
	align-content: flex-start;
}

.button-list button {
	background-color: #4A809E;
	border-style: none;
	border-radius: 2.5px;
	font-size: 15px;
	padding: 0.5em 1em 0.5em 1em;
	color: #FFF;
	margin-right: 1em;
}

/* Content (Feedback */

#feedbackForm {
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	margin-top: 2em;
	align-self: center;
}

#survey {
	background-color: #EBCAA0;
	padding: 1em 1em 0 1em;
	border-radius: 5px;
}

#survey div {
	padding: 1em 0 2.5em 0;
	display: flex;
	flex-flow: row nowrap;
}

form {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
}

.title {
	font-weight: bold;
	max-width: 300px;
	margin-right: 0.5em;
}

#feedbackForm h4 {
	font-size:  16px;
	margin-bottom: 2em;
	opacity: 0.75;
}

/* Content (Contact) */

.contact {
	width: 85%;
	display: flex;
	align-items: center;
	align-self: center;
	flex-flow: column nowrap;
}

#contactDetails {
	width: 75%;
	display: flex;
	align-self: center;
	flex-flow: column nowrap;
}

.details {
	margin-bottom: 2em;
}

.mediaTag img {
	border-style: none;
	height: 40px;
	width: auto;
}

.mediaTag {
	text-align: center;
	margin: 0 0.5em 0 0.5em;
}

.mediaTag h5 {
	font-size: 16px;
}

.socialMedia {
	display: flex;
	flex-flow: row nowrap;
	width: 66.67%;
	align-self: center;
	justify-content: flex-end;
	margin-top: 2em;
}

/* Buttons */

.loadButton {
	width: 85%;
	justify-content: flex-start;
}

.loadButton button {
	background-color: #4A809E;
	padding: 0.5em 1.5em 0.5em 1.5em;
	border-style: none;
	font-size: 16px;
	color: #FFF;
  border-radius: 5px;
}

#submitButton {
	width: 85%;
	justify-content: flex-start;
	margin-top: 2em;
}

#submit {
	background-color: #4A809E;
	padding: 0.5em 1.5em 0.5em 1.5em;
	border-style: none;
	font-size: 16px;
	color: #FFF;
	border-radius: 5px;
}

/* Footer */

footer {
	width: 100%;
	background-color: #4A809E;
	margin-top: 5em;
	height: 75px;
	display: flex;
	justify-content: flex-end;
}

.copyright {
	color: #FFF;
	font-size: 12px;
	margin: 50px 15px 0 0;
	font-weight: lighter;
	opacity: 0.5;
}
